# Crypocurrency Case Study

# Data Dictionary (for code GWA_BTC):

# Date: The day on which the index values were calculated.
# Open: The day's opening price index for Bitcoin in US dollars.
# High: The highest value for the price index for Bitcoin in US dollars that day.
# Low: The lowest value for the price index for Bitcoin in US dollars that day.
# Close: The day's closing price index for Bitcoin in US dollars.
# Volume: The volume of Bitcoin traded that day.
# VWAP: The volume weighted average price of Bitcoin traded that day.
# TWAP: The time-weighted average price of Bitcoin traded that day.

In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
df

,Code,Date,Open,High,Low,Close,Volume,VWAP,TWAP
0,GWA_BTC,4/1/2014,467.28,488.62,467.28,479.56,"74,776.48",482.76,482.82
1,GWA_BTC,4/2/2014,479.20,494.30,431.32,437.08,"114,052.96",460.19,465.93
2,GWA_BTC,4/3/2014,437.33,449.74,414.41,445.60,"91,415.08",432.29,433.28
3,GWA_BTC,4/4/2014,445.18,456.10,429.16,449.81,"51,147.27",443.46,443.93
4,GWA_BTC,4/5/2014,450.08,464.09,445.16,461.70,"28,449.19",452.53,452.95
...,...,...,...,...,...,...,...,...,...
31756,MWA_XRP_USD,1/19/2018,1.57,1.69,1.48,1.53,"242,563,870.40",1.59,1.59
31757,MWA_XRP_USD,1/20/2018,1.54,1.62,1.49,1.57,"140,459,727.30",1.56,1.56
31758,MWA_XRP_USD,1/21/2018,1.57,1.57,1.32,1.36,"219,345,506.60",1.42,1.43
31759,MWA_XRP_USD,1/22/2018,1.37,1.42,1.15,1.35,"276,793,376.40",1.30,1.31
31760,MWA_XRP_USD,1/23/2018,1.35,1.43,1.20,1.32,"282,617,256.50",1.31,1.31

In [3]:
df.Code.unique()

array(['GWA_BTC', 'GWA_ETH', 'GWA_LTC', 'GWA_XLM', 'GWA_XRP',
       'MWA_BTC_CNY', 'MWA_BTC_EUR', 'MWA_BTC_GBP', 'MWA_BTC_JPY',
       'MWA_BTC_USD', 'MWA_ETH_CNY', 'MWA_ETH_EUR', 'MWA_ETH_GBP',
       'MWA_ETH_JPY', 'MWA_ETH_USD', 'MWA_LTC_CNY', 'MWA_LTC_EUR',
       'MWA_LTC_GBP', 'MWA_LTC_JPY', 'MWA_LTC_USD', 'MWA_XLM_CNY',
       'MWA_XLM_EUR', 'MWA_XLM_USD', 'MWA_XRP_CNY', 'MWA_XRP_EUR',
       'MWA_XRP_GBP', 'MWA_XRP_JPY', 'MWA_XRP_USD'], dtype=object)

In [4]:
df

,Code,Date,Open,High,Low,Close,Volume,VWAP,TWAP
0,GWA_BTC,4/1/2014,467.28,488.62,467.28,479.56,"74,776.48",482.76,482.82
1,GWA_BTC,4/2/2014,479.20,494.30,431.32,437.08,"114,052.96",460.19,465.93
2,GWA_BTC,4/3/2014,437.33,449.74,414.41,445.60,"91,415.08",432.29,433.28
3,GWA_BTC,4/4/2014,445.18,456.10,429.16,449.81,"51,147.27",443.46,443.93
4,GWA_BTC,4/5/2014,450.08,464.09,445.16,461.70,"28,449.19",452.53,452.95
...,...,...,...,...,...,...,...,...,...
31756,MWA_XRP_USD,1/19/2018,1.57,1.69,1.48,1.53,"242,563,870.40",1.59,1.59
31757,MWA_XRP_USD,1/20/2018,1.54,1.62,1.49,1.57,"140,459,727.30",1.56,1.56
31758,MWA_XRP_USD,1/21/2018,1.57,1.57,1.32,1.36,"219,345,506.60",1.42,1.43
31759,MWA_XRP_USD,1/22/2018,1.37,1.42,1.15,1.35,"276,793,376.40",1.30,1.31
31760,MWA_XRP_USD,1/23/2018,1.35,1.43,1.20,1.32,"282,617,256.50",1.31,1.31

In [5]:
# 2018-01-01 
df[df.Code.isin(['GWA_BTC','MWA_BTC_JPY', 'MWA_BTC_EUR']) & (df.Date == '1/1/2018')]

,Code,Date,Open,High,Low,Close,Volume,VWAP,TWAP
1371,GWA_BTC,1/1/2018,"14,505.89","14,505.89","13,617.46","14,092.74","225,906.21","14,103.18","14,093.73"
9074,MWA_BTC_EUR,1/1/2018,"11,859.35","11,859.35","11,111.07","11,403.92","14,933.73","11,488.45","11,478.08"
11838,MWA_BTC_JPY,1/1/2018,"1,674,341.45","1,678,567.55","1,572,173.90","1,632,657.50","68,611.95","1,632,994.40","1,631,407.66"

In [6]:
df.Code.unique()

array(['GWA_BTC', 'GWA_ETH', 'GWA_LTC', 'GWA_XLM', 'GWA_XRP',
       'MWA_BTC_CNY', 'MWA_BTC_EUR', 'MWA_BTC_GBP', 'MWA_BTC_JPY',
       'MWA_BTC_USD', 'MWA_ETH_CNY', 'MWA_ETH_EUR', 'MWA_ETH_GBP',
       'MWA_ETH_JPY', 'MWA_ETH_USD', 'MWA_LTC_CNY', 'MWA_LTC_EUR',
       'MWA_LTC_GBP', 'MWA_LTC_JPY', 'MWA_LTC_USD', 'MWA_XLM_CNY',
       'MWA_XLM_EUR', 'MWA_XLM_USD', 'MWA_XRP_CNY', 'MWA_XRP_EUR',
       'MWA_XRP_GBP', 'MWA_XRP_JPY', 'MWA_XRP_USD'], dtype=object)

In [7]:
# backward look, forward looking
# table pivot
pivoted_df = df.pivot(index = 'Date', columns = 'Code', values = 'VWAP')

In [8]:
pivoted_df

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
1/1/2015,315.15,nan,2.71,0.01,0.02,"1,949.09",263.69,213.44,0.00,316.92,...,nan,2.70,0.03,nan,0.00,0.15,0.02,nan,2.98,0.02
1/1/2016,434.93,0.95,3.51,0.00,0.01,"2,836.93",400.34,294.85,"50,233.01",433.13,...,nan,3.48,0.01,nan,nan,0.04,0.01,0.00,0.73,0.01
1/1/2017,"1,000.38",8.42,4.48,0.00,0.01,"6,950.09",928.42,791.73,"117,324.58",969.29,...,504.21,4.29,0.02,nan,nan,0.05,0.01,0.00,0.77,0.01
1/1/2018,"14,103.18",765.22,227.89,0.45,2.20,"88,465.73","11,488.45","10,094.39","1,632,994.40","13,474.23",...,"27,856.58",224.32,nan,nan,0.44,14.32,1.64,1.64,237.98,1.94
1/10/2015,276.43,nan,1.70,0.01,0.02,"1,703.59",239.49,201.54,0.00,280.53,...,nan,1.76,0.03,nan,0.00,0.12,0.02,nan,2.39,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9/8/2017,"4,355.51",307.01,71.25,0.02,0.22,"25,912.73","3,764.08","3,677.67","483,433.47","4,436.25",...,"8,466.98",75.78,0.11,nan,0.02,1.28,0.19,0.18,24.69,0.22
9/9/2014,471.02,nan,5.04,nan,0.00,"2,890.68",370.52,298.77,0.00,471.08,...,nan,5.01,nan,nan,nan,0.03,nan,nan,nan,nan
9/9/2015,241.57,1.23,3.00,0.00,0.01,"1,537.87",216.59,161.88,"29,314.26",241.61,...,nan,2.96,0.01,nan,nan,0.05,0.01,0.00,0.97,0.01
9/9/2016,620.70,11.48,3.96,0.00,0.01,"4,137.40",553.86,479.69,"63,920.67",622.82,...,402.74,3.96,0.01,nan,nan,0.04,0.01,0.00,0.61,0.01
9/9/2017,"4,194.21",291.58,66.02,0.02,0.21,"24,735.67","3,650.47","3,508.21","466,869.28","4,321.47",...,"8,379.24",71.38,0.09,nan,0.02,1.19,0.18,0.18,23.60,0.21

In [9]:
# Shift the pivoted table
pivoted_df.tail(3)

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
9/9/2015,241.57,1.23,3.00,0.00,0.01,"1,537.87",216.59,161.88,"29,314.26",241.61,...,nan,2.96,0.01,nan,nan,0.05,0.01,0.00,0.97,0.01
9/9/2016,620.70,11.48,3.96,0.00,0.01,"4,137.40",553.86,479.69,"63,920.67",622.82,...,402.74,3.96,0.01,nan,nan,0.04,0.01,0.00,0.61,0.01
9/9/2017,"4,194.21",291.58,66.02,0.02,0.21,"24,735.67","3,650.47","3,508.21","466,869.28","4,321.47",...,"8,379.24",71.38,0.09,nan,0.02,1.19,0.18,0.18,23.60,0.21

In [10]:
test = pivoted_df.tail(3).shift(1)

In [11]:
test

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
9/9/2015,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9/9/2016,241.57,1.23,3.00,0.00,0.01,"1,537.87",216.59,161.88,"29,314.26",241.61,...,nan,2.96,0.01,nan,nan,0.05,0.01,0.00,0.97,0.01
9/9/2017,620.70,11.48,3.96,0.00,0.01,"4,137.40",553.86,479.69,"63,920.67",622.82,...,402.74,3.96,0.01,nan,nan,0.04,0.01,0.00,0.61,0.01

In [12]:
test/pivoted_df.tail(3)

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
9/9/2015,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9/9/2016,0.39,0.11,0.76,1.14,1.32,0.37,0.39,0.34,0.46,0.39,...,nan,0.75,1.13,nan,nan,1.25,1.28,nan,1.61,1.31
9/9/2017,0.15,0.04,0.06,0.11,0.03,0.17,0.15,0.14,0.14,0.14,...,0.05,0.06,0.14,nan,nan,0.03,0.03,0.00,0.03,0.03

In [13]:
# R = (vf - vi)/(vi) = vf/vi - 1
demo_return_1 = pivoted_df.tail(3)/pivoted_df.tail(3).shift(1) - 1
demo_return_1

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
9/9/2015,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9/9/2016,1.57,8.31,0.32,-0.12,-0.24,1.69,1.56,1.96,1.18,1.58,...,nan,0.34,-0.11,nan,nan,-0.20,-0.22,nan,-0.38,-0.23
9/9/2017,5.76,24.40,15.68,7.70,34.65,4.98,5.59,6.31,6.30,5.94,...,19.81,17.03,6.30,nan,nan,29.35,32.92,inf,37.91,35.22

In [14]:
delta_dict = {}
# looking backward return for [7,14,21,28]
for offset in [7,14,21,28]:
    delta_dict['delta_{}'.format(offset)] = pivoted_df/pivoted_df.shift(offset) - 1

In [15]:
delta_dict['delta_7']

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
1/1/2015,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/1/2016,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/1/2017,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/1/2018,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/10/2015,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9/8/2017,8.00,nan,12.87,nan,44.10,7.72,9.09,11.04,inf,8.11,...,nan,13.80,nan,nan,nan,42.54,nan,nan,nan,nan
9/9/2014,0.95,nan,0.65,nan,-0.41,0.88,0.71,0.84,-1.00,0.96,...,nan,0.66,nan,nan,nan,-0.42,nan,nan,nan,nan
9/9/2015,-0.61,-0.89,-0.24,0.15,0.31,-0.62,-0.60,-0.66,-0.53,-0.60,...,nan,-0.25,0.12,nan,nan,0.24,0.29,nan,0.60,0.30
9/9/2016,-0.86,-0.96,-0.95,-0.90,-0.97,-0.86,-0.86,-0.87,-0.87,-0.86,...,-0.95,-0.95,-0.89,nan,nan,-0.97,-0.97,-1.00,-0.98,-0.97
9/9/2017,7.83,nan,12.07,nan,43.31,7.48,8.73,10.76,7.63,8.14,...,nan,13.26,nan,nan,nan,39.92,nan,nan,nan,nan

In [16]:
# melting the table
delta_dict['delta_7'].head(10)

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
1/1/2015,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/1/2016,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/1/2017,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/1/2018,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/10/2015,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/10/2016,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/10/2017,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/10/2018,47.07,nan,91.50,106.30,92.20,45.92,44.33,49.34,inf,44.05,...,nan,89.59,nan,nan,inf,97.63,79.49,nan,81.35,78.89
1/11/2015,-0.38,nan,-0.50,1.80,2.22,-0.41,-0.42,-0.33,-1.00,-0.37,...,nan,-0.49,1.80,nan,nan,2.06,1.80,nan,2.17,2.20
1/11/2016,-0.55,-0.88,-0.21,-0.48,-0.11,-0.58,-0.56,-0.61,-0.57,-0.54,...,nan,-0.17,nan,nan,nan,-0.15,-0.11,nan,-0.09,-0.09

In [17]:
demo_melt_7 = delta_dict['delta_7'].reset_index().melt(id_vars=['Date'], value_name='delta_7')

In [18]:
demo_melt_7

            Date         Code  delta_7
0       1/1/2015      GWA_BTC      nan
1       1/1/2016      GWA_BTC      nan
2       1/1/2017      GWA_BTC      nan
3       1/1/2018      GWA_BTC      nan
4      1/10/2015      GWA_BTC      nan
...          ...          ...      ...
39027   9/8/2017  MWA_XRP_USD      nan
39028   9/9/2014  MWA_XRP_USD      nan
39029   9/9/2015  MWA_XRP_USD     0.30
39030   9/9/2016  MWA_XRP_USD    -0.97
39031   9/9/2017  MWA_XRP_USD      nan

[39032 rows x 3 columns]

In [19]:

melted_dfs = []

for key, delta_df in delta_dict.items():
    melted_dfs.append(delta_df.reset_index().melt(id_vars=['Date'], value_name=key) )

In [20]:
melted_dfs

[            Date         Code  delta_7
 0       1/1/2015      GWA_BTC      nan
 1       1/1/2016      GWA_BTC      nan
 2       1/1/2017      GWA_BTC      nan
 3       1/1/2018      GWA_BTC      nan
 4      1/10/2015      GWA_BTC      nan
 ...          ...          ...      ...
 39027   9/8/2017  MWA_XRP_USD      nan
 39028   9/9/2014  MWA_XRP_USD      nan
 39029   9/9/2015  MWA_XRP_USD     0.30
 39030   9/9/2016  MWA_XRP_USD    -0.97
 39031   9/9/2017  MWA_XRP_USD      nan

 [39032 rows x 3 columns],
             Date         Code  delta_14
 0       1/1/2015      GWA_BTC       nan
 1       1/1/2016      GWA_BTC       nan
 2       1/1/2017      GWA_BTC       nan
 3       1/1/2018      GWA_BTC       nan
 4      1/10/2015      GWA_BTC       nan
 ...          ...          ...       ...
 39027   9/8/2017  MWA_XRP_USD     27.93
 39028   9/9/2014  MWA_XRP_USD       nan
 39029   9/9/2015  MWA_XRP_USD     -0.96
 39030   9/9/2016  MWA_XRP_USD       nan
 39031   9/9/2017  MWA_XRP_USD     26.52

 [39032 rows x 3 columns],
             Date         Code  delta_21
 0       1/1/2015      GWA_BTC       nan
 1       1/1/2016      GWA_BTC       nan
 2       1/1/2017      GWA_BTC       nan
 3       1/1/2018      GWA_BTC       nan
 4      1/10/2015      GWA_BTC       nan
 ...          ...          ...       ...
 39027   9/8/2017  MWA_XRP_USD     23.42
 39028   9/9/2014  MWA_XRP_USD       nan
 39029   9/9/2015  MWA_XRP_USD       nan
 39030   9/9/2016  MWA_XRP_USD     -0.18
 39031   9/9/2017  MWA_XRP_USD     34.92

 [39032 rows x 3 columns],
             Date         Code  delta_28
 0       1/1/2015      GWA_BTC       nan
 1       1/1/2016      GWA_BTC       nan
 2       1/1/2017      GWA_BTC       nan
 3       1/1/2018      GWA_BTC       nan
 4      1/10/2015      GWA_BTC       nan
 ...          ...          ...       ...
 39027   9/8/2017  MWA_XRP_USD      0.11
 39028   9/9/2014  MWA_XRP_USD       nan
 39029   9/9/2015  MWA_XRP_USD      0.06
 39030   9/9/2016  MWA_XRP_USD     -0.01
 39031   9/9/2017  MWA_XRP_USD     -0.07

 [39032 rows x 3 columns]]

In [21]:
melted_dfs[0]

            Date         Code  delta_7
0       1/1/2015      GWA_BTC      nan
1       1/1/2016      GWA_BTC      nan
2       1/1/2017      GWA_BTC      nan
3       1/1/2018      GWA_BTC      nan
4      1/10/2015      GWA_BTC      nan
...          ...          ...      ...
39027   9/8/2017  MWA_XRP_USD      nan
39028   9/9/2014  MWA_XRP_USD      nan
39029   9/9/2015  MWA_XRP_USD     0.30
39030   9/9/2016  MWA_XRP_USD    -0.97
39031   9/9/2017  MWA_XRP_USD      nan

[39032 rows x 3 columns]

In [22]:
melted_dfs[1]

            Date         Code  delta_14
0       1/1/2015      GWA_BTC       nan
1       1/1/2016      GWA_BTC       nan
2       1/1/2017      GWA_BTC       nan
3       1/1/2018      GWA_BTC       nan
4      1/10/2015      GWA_BTC       nan
...          ...          ...       ...
39027   9/8/2017  MWA_XRP_USD     27.93
39028   9/9/2014  MWA_XRP_USD       nan
39029   9/9/2015  MWA_XRP_USD     -0.96
39030   9/9/2016  MWA_XRP_USD       nan
39031   9/9/2017  MWA_XRP_USD     26.52

[39032 rows x 3 columns]

In [112]:
pd.merge(melted_dfs[0],melted_dfs[1], on =['Date','Code'])

            Date         Code  delta_7  delta_14
0       1/1/2015      GWA_BTC      nan       nan
1       1/1/2016      GWA_BTC      nan       nan
2       1/1/2017      GWA_BTC      nan       nan
3       1/1/2018      GWA_BTC      nan       nan
4      1/10/2015      GWA_BTC      nan       nan
...          ...          ...      ...       ...
39027   9/8/2017  MWA_XRP_USD      nan     27.93
39028   9/9/2014  MWA_XRP_USD      nan       nan
39029   9/9/2015  MWA_XRP_USD     0.30     -0.96
39030   9/9/2016  MWA_XRP_USD    -0.97       nan
39031   9/9/2017  MWA_XRP_USD      nan     26.52

[39032 rows x 4 columns]

In [113]:
from functools import reduce

In [114]:
my_list = [1,2,3,4,5]

In [115]:
test = reduce(lambda x, y: x * y, my_list)

In [116]:
test

120

In [121]:
base_df = df[['Date','Code','Volume','VWAP']]
feature_dfs = [base_df] + melted_dfs

abt = reduce(lambda left, right: pd.merge(left, right, on=['Date','Code']),melted_dfs)

In [122]:
abt

            Date         Code  delta_7  delta_14  delta_21  delta_28
0       1/1/2015      GWA_BTC      nan       nan       nan       nan
1       1/1/2016      GWA_BTC      nan       nan       nan       nan
2       1/1/2017      GWA_BTC      nan       nan       nan       nan
3       1/1/2018      GWA_BTC      nan       nan       nan       nan
4      1/10/2015      GWA_BTC      nan       nan       nan       nan
...          ...          ...      ...       ...       ...       ...
39027   9/8/2017  MWA_XRP_USD      nan     27.93     23.42      0.11
39028   9/9/2014  MWA_XRP_USD      nan       nan       nan       nan
39029   9/9/2015  MWA_XRP_USD     0.30     -0.96       nan      0.06
39030   9/9/2016  MWA_XRP_USD    -0.97       nan     -0.18     -0.01
39031   9/9/2017  MWA_XRP_USD      nan     26.52     34.92     -0.07

[39032 rows x 6 columns]

In [123]:
daily_df = abt[abt['Date'] == '1/23/2018']

In [124]:
daily_df

            Date         Code  delta_7  delta_14  delta_21  delta_28
63     1/23/2018      GWA_BTC    46.28     26.28     11.26      0.01
1457   1/23/2018      GWA_ETH      nan    666.18     95.92      0.03
2851   1/23/2018      GWA_LTC   123.90     54.21     44.94      0.01
4245   1/23/2018      GWA_XLM    94.69    262.04    192.20      0.19
5639   1/23/2018      GWA_XRP    82.82    265.78    195.48      0.18
7033   1/23/2018  MWA_BTC_CNY    52.39     27.91     11.48      0.01
8427   1/23/2018  MWA_BTC_EUR    42.41     23.05      9.41      0.01
9821   1/23/2018  MWA_BTC_GBP    48.15     26.47      9.59     -0.01
11215  1/23/2018  MWA_BTC_JPY    42.39     24.39     10.73     -0.01
12609  1/23/2018  MWA_BTC_USD    45.23     25.88     11.08      0.01
14003  1/23/2018  MWA_ETH_CNY      nan       nan       nan       nan
15397  1/23/2018  MWA_ETH_EUR      nan    583.89     81.21      0.03
16791  1/23/2018  MWA_ETH_GBP      nan       inf     83.47     -0.01
18185  1/23/2018  MWA_ETH_JPY      nan       nan     90.05     -0.01
19579  1/23/2018  MWA_ETH_USD      nan    667.14     94.49      0.03
20973  1/23/2018  MWA_LTC_CNY      nan       nan       nan       nan
22367  1/23/2018  MWA_LTC_EUR   114.23     48.25     38.11      0.01
23761  1/23/2018  MWA_LTC_GBP   129.46     54.52     36.45     -0.16
25155  1/23/2018  MWA_LTC_JPY      nan       nan     42.86     -0.08
26549  1/23/2018  MWA_LTC_USD   123.09     54.17     45.11      0.01
27943  1/23/2018  MWA_XLM_CNY      nan       nan       nan       nan
29337  1/23/2018  MWA_XLM_EUR      nan       nan       nan       nan
30731  1/23/2018  MWA_XLM_USD      inf       nan       nan      0.05
32125  1/23/2018  MWA_XRP_CNY    86.24    259.78    198.84      0.18
33519  1/23/2018  MWA_XRP_EUR    74.01    226.91    163.80      0.18
34913  1/23/2018  MWA_XRP_GBP      nan     82.46       inf      0.19
36307  1/23/2018  MWA_XRP_JPY    71.29    231.94    188.31      0.16
37701  1/23/2018  MWA_XRP_USD    76.27    248.41    194.54      0.19

In [125]:
demo_return_4 = pivoted_df.tail(3)/pivoted_df.tail(3).shift(-1) - 1
demo_return_4

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,...,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,
9/9/2015,-0.61,-0.89,-0.24,0.14,0.32,-0.63,-0.61,-0.66,-0.54,-0.61,...,nan,-0.25,0.13,nan,nan,0.25,0.28,nan,0.61,0.31
9/9/2016,-0.85,-0.96,-0.94,-0.89,-0.97,-0.83,-0.85,-0.86,-0.86,-0.86,...,-0.95,-0.94,-0.86,nan,nan,-0.97,-0.97,-1.00,-0.97,-0.97
9/9/2017,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan